<div>
    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
                <p class="tagline">PROGRESSUS: free business bootstrap template by
                    <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a>
                </p>
                <p>
                    <a class="btn btn-default btn-lg" role="button">MORE INFO</a>
                    <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a>
                </p>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
        <br>
        <br>
        <h2 class="thin">The best place to tell people why they are here</h2>
        <p class="text-muted">
            The difference between involvement and commitment is like an eggs-and-ham breakfast:
            <br> the chicken was involved; the pig was committed.
        </p>
    </div>
    <!-- /Intro-->

    <reasons-component></reasons-component>

    <faq-component></faq-component>

    <sociallinks-component></sociallinks-component>
</div>