<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt="Progressus HTML5 template">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <navigation-component></navigation-component>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->