<div class="widget">
    <h4>Vacancies</h4>
    <ul class="list-unstyled list-spaces">
        <li>
            <a href="">Lorem ipsum dolor</a>
            <br>
            <span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span>
        </li>
        <li>
            <a href="">Totam, libero, quis</a>
            <br>
            <span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span>
        </li>
        <li>
            <a href="">Enim, sequi dignissimos</a>
            <br>
            <span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span>
        </li>
        <li>
            <a href="">Suscipit, consequatur, aut</a>
            <br>
            <span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span>
        </li>
        <li>
            <a href="">Nam, illo, veritatis</a>
            <br>
            <span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span>
        </li>
    </ul>
</div>