<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= APP_BASE %>">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>Learning Angular - Professionally</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">
    <link rel="stylesheet" media="screen" href="assets/css/google-fonts.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/socket.io.js"></script>
</head>

<body class='home'>

    <boot-component>
        Loading ... Please Wait ...
    </boot-component>

    <script>
        function module() { }
    </script>

    <!-- shims:js -->
    <!-- endinject -->

    <% if (BUILD_TYPE === 'dev') { %>
        <script src="<%= APP_BASE %>system-config.js"></script>
        <% } %>

            <!-- libs:js -->
            <!-- endinject -->

            <!-- inject:js -->
            <!-- endinject -->

            <% if (BUILD_TYPE === 'dev') { %>
                <script>
                    System
                        .import('<%= BOOTSTRAP_MODULE %>')
                        .catch(function (e) {
                            console.error(e.stack || e,
                                'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
                        });
                </script>
                <% } %>

                    <script src="assets/js/jquery.min.js"></script>
                    <script src="assets/js/bootstrap.js"></script>
                    <script src="assets/js/headroom.min.js"></script>
                    <script src="assets/js/jQuery.headroom.min.js"></script>
                    <script src="assets/js/template.js"></script>
</body>

</html>