<div class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">Name:</div>
            <input type="text" class="form-control" 
                id="exampleInputAmount" 
                [(ngModel)]='searchString'
                placeholder="Search String Here ...">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</div>