<ul class="nav navbar-nav pull-right">
    <li class="active">
        <a routerLink='home'>Home</a>
    </li>
    <li>
        <a routerLink='about-us'>About</a>
    </li>

    <li>
        <a routerLink='crm-system'>Customers</a>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="sidebar-left.html">Left Sidebar</a>
            </li>
            <li class="active">
                <a href="sidebar-right.html">Right Sidebar</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="contact.html">Contact</a>
    </li>
    <li>
        <a class="btn" href="signin.html">SIGN IN / SIGN UP</a>
    </li>
</ul>