<ul class="nav navbar-nav pull-right">
    <li class="active">
        <a routerLink='home'>Home</a>
    </li>
    <li>
        <a routerLink='about-us'>About</a>
    </li>

    <li *ngIf='isAuthenticated'>
        <a routerLink='crm-system'>Customers</a>
    </li>

    <li *ngIf='isAuthenticated'>
        <a routerLink='new-customer'>New Customer</a>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="sidebar-left.html">Left Sidebar</a>
            </li>
            <li class="active">
                <a href="sidebar-right.html">Right Sidebar</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="contact.html">Contact</a>
    </li>

    <li *ngIf='!isAuthenticated'>
        <a class="btn" routerLink='login'>SIGN IN / SIGN UP</a>
    </li>

    <li *ngIf='isAuthenticated'>
        <span style='color: white;'> Welcome {{ userName }}, <a style="color: white;" class="btn" (click)='logout()'>Signout</a></span>
    </li>
</ul>